<div
  class="bg-card-bg block px-6 py-10 border border-border-co rounded-base shadow-sm cursor-pointer transition-all hover:shadow-md hover:-translate-y-2.5"
>
  <!-- Icon -->
  <div
    class="icon w-[50px] h-[50px] bg-linear-120 from-first-hero to-second-hero rounded mb-2.5 flex justify-center items-center"
  >
    <i [ngClass]="icon" class="text-white text-xl"></i>
  </div>

  <h5 class="mb-2 text-2xl font-logo font-semibold tracking-tight text-main-text-co leading-8">
    {{ cardTitle }}
  </h5>
  <p class="text-white-accent-text-co">
    {{ cardDesc }}
  </p>
</div>
