<footer class="bg-main-bg shadow-xs py-3">
  <div
    class="custom-container bg-section-bg rounded-base py-2 px-4 flex items-center justify-between"
  >
    <a
      class="font-logo text-main-text-co font-bold text-xl cursor-pointer transition-all hover:scale-110"
      >EasyCash <span class="text-primary text-2xl">$</span>
    </a>
    <p></p>

    <span class="text-sm text-secondary-text-co sm:text-center"
      >© 2025 <a class="hover:underline">EasyCash</a>. All Rights Reserved.
    </span>
  </div>
</footer>
