<div
  class="bg-card-bg block px-6 py-7 border border-border-co rounded-base shadow-sm cursor-pointer transition-all hover:shadow-lg hover:-translate-y-2.5 hover:border-primary"
>
  <div class="border-b-2 border-border-co flex items-center gap-5 pb-4">
    <span class="font-logo text-4xl">{{ countruyCode }}</span>
    <div class="flex flex-col">
      <h3 class="font-bold font-logo">{{ currancyName }}</h3>
      <span class="text-sm text-secondary-text-co">{{ currancyCode }}</span>
    </div>
  </div>

  <div class="pt-6 flex justify-between">
    <p class="text-white-accent-text-co font-semibold">1 <span>USD</span> =</p>
    <p class="text-2xl font-bold text-primary">0.92 <span>EU</span></p>
  </div>
</div>
