<div
  class="bg-neutral-50 block px-6 py-10 border border-default rounded-base shadow-sm cursor-pointer transition-all hover:shadow-lg hover:-translate-y-2.5 hover:bg-neutral-100"
>
  <div
    class="icon w-[50px] h-[50px] bg-linear-120 from-first-hero to-second-hero rounded mb-2.5 flex justify-center items-center"
  >
    <i [ngClass]="icon" class="text-white text-xl"></i>
  </div>

  <h5 class="mb-2 text-2xl font-logo font-semibold tracking-tight text-heading leading-8">
    {{ cardTitle }}
  </h5>
  <p class="text-[#797DA1]">
    {{ cardDesc }}
  </p>
</div>
