@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Flowbite */
@source "../node_modules/flowbite";
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";

/* PrimeNg Icons */
@import 'primeicons/primeicons.css';

/* Variables */
@theme {
  /* Fonts */
  --font-logo: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
  /* Colors */
  --color-primary: #4a8cff;
  --color-primary-dark: #1c4b82;
  --color-secondary: #7dd3fc;
  --color-background-light: #f8fafc;
  --color-section-color: #e0f2fe;
  --color-card-border: #cbd5e1;
  --color-sec-text-co: #65758b;
  --color-first-hero: #4a8cff;
  --color-second-hero: #7dd3fc;
  /* Spacing */
  --spacing-sec-padding: 60px;

  /* New Color Palette */

  --color-main-bg: #0f172a;
  --color-section-bg: #2a3a4d;
  --color-card-bg: #273449;
  --color-border-co: #475569;
  --color-main-text-co: #f8fafc;
  --color-secondary-text-co: #cbd5e1;
  --color-white-accent-text-co: #e2e8f0;
}

/* PrimeNg Override style */
:root {
  /* Input */
  --p-inputtext-background: #273449 !important;
  --p-inputtext-border-color: #475569 !important;
  --p-inputtext-color: #f8fafc !important;
  --p-inputtext-focus-border-color: rgb(74, 140, 255) !important;
  /* Select Menu */
  --p-select-background: #273449 !important;
  --p-select-border-color: #475569 !important;
  --p-select-color: #f8fafc !important;
  --p-select-focus-border-color: rgb(74, 140, 255) !important;
  --p-select-option-color: #f8fafc !important;
  --p-select-option-focus-color: #f8fafc !important;
  --p-select-option-focus-background: #273449 !important;
  --p-select-option-selected-background: #2a3a4d !important; /* section  */
  --p-select-option-selected-focus-background: #2a3a4d !important; /* section */
  --p-select-option-selected-color: #f8fafc !important;
  --p-select-option-selected-focus-color: #f8fafc !important;
  /* Button */
  --p-button-primary-background: linear-gradient(120deg, #4a8cff, #7dd3fc) !important;
  --p-button-primary-hover-background: linear-gradient(120deg, #4a8cff, #7dd3fc) !important;
  --p-button-primary-active-background: linear-gradient(120deg, #2877ff, #56c3f6) !important;
  --p-button-transition-duration: 500ms !important;
  --p-button-primary-border-color: transparent !important ;
  --p-button-primary-hover-border-color: transparent !important ;
  --p-button-primary-active-border-color: transparent !important ;
}

body {
  @apply font-roboto;
}

@media (max-width: 767px) {
  .active-link {
    @apply py-2 px-3 bg-primary text-white rounded;
  }
  .custom-container {
    @apply container;
  }
}
@media (min-width: 768px) {
  .active-link {
    @apply p-0 bg-transparent text-primary rounded-0;
  }
  .custom-container {
    @apply w-[90%] mx-auto;
  }
}
.heading-style {
  @apply font-heading text-4xl font-bold text-center my-3.5;
}
.p-select-list {
  background-color: var(--color-main-bg) !important;
  border: none !important;
}
